html,
body {
  height: 100%;
  margin: 0;

}

.app-container {
  display: flex;
  height: 100vh;       
  width: 100%;

}

app-sidebar {
  flex: 0 0 260px;     

}

.app-content {
  flex: 1 1 auto;       
  overflow: hidden;
  min-width: 0;         
}
